@import '../styles/global.css';
/* Import the global styles */

.landing-page {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.3), /* Adjust the alpha value for desired lightness */
      rgba(255, 255, 255, 0.3)
    ),
    url('../assets/background-map.svg') no-repeat center center;
  background-size: cover;
  color: #333;
  position: relative;
  z-index: 0; /* Ensure it's below other elements */
}



.header {
  background-color: #9F5FFE;
  padding: 0 80px;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header2 {
  padding: 0 100px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-contact span {
  margin-right: 20px;
  font-size: 14px;
}

.nav a {
  margin: 0 10px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-bottom2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  display: flex;
  text-decoration: none;
}

.logo-text {
  margin-left: 10px;
  font-size: 24.8px;
  font-weight: bold;
  color: #1D1D1D;
}

.main-nav a {
  font-weight: bold;
  margin: 0 15px;
  color: #9F5FFE;
  text-decoration: none;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  /* Body Medium */
}

.dropdown-icon {
  margin-left: 12px;
  margin-top: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  margin-top: 10px;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  /* Body Medium */
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.donate-button {
  margin-left: 50px;
  width: 200px;
  background-color: transparent !important;
  border: 2px solid #9F5FFE !important;
  color: #9F5FFE !important;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.button-text {
  margin-right: 12px;
}

.primary-section {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
  align-items: center;
  /* background-color: #f5f5f5; */
}

.main-section {
  margin-top: -80px;
  max-width: 500px;
}

.main-section h1 {
  color: #1D1D1D;
  font-weight: bold;
  font-size: 46px;
  /* H1 size */
  margin-bottom: 20px;
  margin-top: 6px;
  line-height: 60px;
}

.main-section strong {
  color: #9F5FFE;
}

.main-section h1 span {
  color: #9F5FFE;
}

.main-section p {
  font-size: 14px;
  /* Body Large */
  margin-bottom: 40px;
  line-height: 24px;
  color: #555;
}

.get-started-button {
  background-color: #00c2c5;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* Body Medium */
}

.activity-button {
  margin-top: -10px;
  position: absolute;
  margin-left: 80px;
  border: none;
  cursor: pointer;
  background: transparent;

}

.campaign-section {
  position: relative;
  padding: 50px;
  z-index: 2;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
/* Campaign Card */
.campaign-card {
  padding: 50px;
  width: 500px; /* Set the desired width */
  position: relative;
  z-index: 3; /* Ensure the card is above the design border */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Design Border */
.design-border {
  position: absolute;
  z-index: 1; /* Place the design border just above the landing page background but below the card */
  right: 35px;
  bottom: 30px;
  border-radius: 15px;
  height: 400px;
  width: 250px;
  background-color: #1AD0D1;
}

.donate-heart {
  position: absolute;
  right: -30px;
  top: -30px;
}

.campaign-tag {
  background-color: #00c2c5;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  /* Body Medium */
  font-weight: bold;
}

.campaign-card h2 {
  margin: 10px 0;
  font-size: 40px;
  /* H2 size */
  font-weight: bold;
}

.campaign-card p {
  font-size: 18px;
  /* Body Large */
  margin-bottom: 20px;
  color: #777;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 12px;
  background-color: #00c2c5;
  border-radius: 10px;
}

.campaign-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  /* Body Medium */
  font-weight: bold;
}

.payment-buttons {
  display: flex;
  justify-content: space-between;
}

.payment-buttons button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.google-pay-button img{
  width: 160px;
}

.apple-pay-button img{
  width: 160px;
}
@media (max-width: 768px) {
  .header,
  .header2 {
    padding: 0 10px;
  }

  .header-contact{
    display: flex;
  }

  .logo-text {
    margin-left: 10px;
    font-size: 14.8px;
    font-weight: bold;
    color: #1D1D1D;
  }

  .main-nav a {
    font-size: 10px;
  }
  .dropdown-menu li a{
    font-size: 10px;
  }

  .donate-button {
    margin-top: -10px !important;
    width: 120px !important;
    background-color: transparent !important;
    border: 2px solid #9F5FFE !important;
    color: #9F5FFE !important;
    font-weight: bold;
    padding: 5px 10px !important;
    font-size: 10px !important;
    border-radius: 5px !important;
    cursor: pointer;
  }
  
  .primary-section {
    display: block;
    padding:60px;
    align-items: center;
    /* background-color: #f5f5f5; */
  }
  .campaign-section {
    right: 0;
    left: -70px;
    position:absolute;
  }
  /* Campaign Card */
  .campaign-card {
    width:100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .header2 {
    padding: 0 50px;
  }
  /* Design Border */
  .design-border {
    display: none;
  }

  .google-pay-button img{
    width: 100px;
  }

  .apple-pay-button img{
    width: 100px;
  }
  
}